.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('/avatar/avatar1.png') no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}