.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('/avatar/avatar1.png') no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-muted {
  color: #8C8C8C;
}

.xsmall {
  font-size: 60%;
  font-style: italic;
}

.small {
  font-size: 10px;
  font-style: italic;
}

.pt5 {
  padding-top: 5px;
}

.ml20 {
  margin-left: 20px;
}

.post-footer {
  padding: 10px;
  margin: 15px 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

#logo {
  font-family: 'Kaushan Script', cursive;
  color: 'FFF' !important;
  font-weight: 'bold';
  font-size: 28px;
}

body {
  font-size: 12px;
}