- unless @posts.size > 0
  .panel.panel-default{style: 'min-height: 85vh'}
    .panel-body{style: "margin-top: 20%"}
      .text-center
        No posts yet.
        %a{href: '/posts/new'} Write one today!

- @posts.each do |post|
  .panel.panel-default
    .panel-heading
      .panel-title
        .row
          .col-md-6.text-left
            %a{href: "/posts/#{ post.id }"}= post.title
          .col-md-6.text-right.pt5
            %span.text-muted.xsmall
              %em
                Posted at:
                = date_format(post.date_created)

    .panel-body
      = post.content[0..450].gsub(/\n/, '<br/>')
      - if post.content.length > 450
        \...
        %span.ml20.italic
          %a{href: "/posts/#{ post.id }"} Continue reading &gt;&gt;

