- unless @posts.size > 0
  .panel.panel-default{style: 'min-height: 85vh'}
    .panel-body{style: "margin-top: 20%"}
      .text-center
        No posts yet.
        %a{href: '/posts/new'} Write one today!

- @posts.each do |post|
  .panel.panel-default
    .panel-heading
      .panel-title
        %a{href: "/posts/#{ post.id }"}= post.title
    .panel-body= post.content.gsub(/\n/, '<br/>')

