.panel.panel-default
  .panel-heading
    .panel-title Edit Post
  .panel-body
    %form{method: 'post', action: "/posts/#{ @post.id }"}
      .form-group
        %label Title:
        %input.form-control{type: 'text', name: 'title', value: @post.title}
      .form-group
        %label Content:
        %textarea.form-control{type: 'text', name: 'content', rows: 10}= @post.content
      .form-group 
        %input.btn.btn-default.pull-right{type: 'submit', value: 'Publish'}

