Write post
%form{method: 'post', action: '/posts'}
  Title:
  %input{type: 'text', name: 'title'}
  Content:
  %input{type: 'text', name: 'content'}
  %input{type: 'hidden', name: 'user_id', value: @user.id}
  %input{type: 'submit', value: 'Publish'}
